name: Deploy the documentation to Cloudflare Pages

on:
    release:
        types: [published]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            deployments: write

        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-python@v6
              with:
                  python-version: "3.12"

            - name: Install dependencies
              run: pip install ".[docs]"

            - name: Build documentation
              run: mkdocs build

            - name: Deploy
              uses: cloudflare/wrangler-action@v3.12.0
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  command: pages deploy ./site --project-name=hetman-pipeline --branch main
